/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face {
    font-family: 'Myriad Pro';
    src: local('MyriadPro-Regular'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('GothamPro-Medium'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('GothamPro-Light'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('GothamPro-Bold'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
}

body{
	font-family: 'Gotham', sans-serif;
}

.container{
	max-width: 1200px;
	padding: 0px 15px;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: none;
        padding: 0 10px;
    }
}

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ibg img {display: none;}

.header{
    height: 115px;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(35px);
    padding-top: 22px;
    z-index: 100;
}

.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo{
    flex: 1 1 auto;
}


.menu__list{
    display: flex;
}

.menu__link{
    font-family: 'Myriad Pro';
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin: 0 25px;
    position: relative;
}

.header__social{
    min-height: 20px;
    min-width: 141px;
    margin-left: 25px;
    
}    

.social__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px; 
    margin: 0 auto;
}

.menu__link::before{
    content: '';
    width: 0px;
    height: 3px;
    background: #11749e;
    position: absolute;
    top: 120%;
    left: 0;
    transition: .5s;
}

.menu__link::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #11749e;
    position: absolute;
    top: 120%;
    right: 0;
    transition: .5s;
}

.menu__link:hover:before{
    width: 52%;
    transform: translateX(100%);
}

.menu__link:hover:after{
    width: 52%;
    transform: translateX(-100%);
}

.active.menu__link:before{
    width: 50%;
    transform: translateX(100%);
}

.active.menu__link:after{
    width: 50%;
    transform: translateX(-100%);
}

.active.menu__link{
    text-shadow: 0 15px 25px rgba(24, 209, 255, 0.9);
}



@media (max-width:992px){
    .menu__link{
        font-size: 18px;
        margin: 0 15px;
    }
}


@media(max-width:820px){
	.header{
        height: 100px;
        padding-top: 10px;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		left: 0;
		background-color: #2e85aa;
		padding: 100px 0px 20px 0px;
		transform: translate3d(0px,-100%,0px);
		transition: all 0.3s ease 0s;
	}
	.menu__body.active{
		transform: translate3d(0px,0px,0px);
		transition: all 0.4s ease 0s;
	}


	.menu__list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__list li{
		padding: 0px 0px 45px 0px;
	}
	.menu__list li:nth-child(2){
		padding: 0px 0px 45px 0px;
	}
	.menu__list li:nth-child(3){
		padding: 0px 0px 45px 0px;
	}

	.menu__list li:last-child{
		padding: 0;
	}

	.menu__link{
		color: #fff;
		font-size: 26px;
	}

	.menu__list li:after{
		width: 4px;
		height: 4px;
		background-color: #fff;
		border-radius: 50%;
		right: 50%;
		top: 40px;
		margin: 0px -2px 0px 0px;
	}
	.menu__list li:nth-child(2):after{
		display: block;
	}


}


@media (max-width:820px){
	.icon-menu{
		display: block;
		position: absolute;
		top: 33px;
		right: 15px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span{
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.icon-menu span:first-child{
		top: 0;
	}
	.icon-menu span:last-child{
		top: auto;
		bottom: 0px;
	}

	.icon-menu.active span{
		scale: (0);
		background-color:#fff;
	}

	.icon-menu.active span:first-child {
		top: 8px;
		transform: rotate(-45deg);

	}
	.icon-menu.active span:last-child{
		bottom: 8px;
		transform: rotate(45deg);
	}
	.icon-menu.active span:nth-child(2){
	display: none;
	}

}



.main-screen{
    min-height: 880px;
    background: url(../img/main_bg.jpg) center center/cover no-repeat;
    padding: 329px 0px 109px 0px;
}

.main__title{
    font-size: 152px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 1.2;
    color: #f5f5f5;
    text-align: center;
}

.main__subtitle{
    font-size: 25px;
    line-height: 51px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.74em;
    color: #11749e;
    text-align: center;
    margin-top: 36px;
    padding-left: 18px;
}

.main__scroll{
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 118px;
}

.main__scrollBtn{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    margin: 22px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:900px){
    .main__title{
        font-size: 100px;
    }

}

@media (max-width:600px){
    .main__title{
        font-size: 50px;
    }
    .main__subtitle{
        font-size: 18px;
        margin-top: 36px;
        letter-spacing: 0.34em;
    }
    .main-screen{
        min-height: 100vh;
        padding: 180px 0px 109px 0px;
    }
}



.awesome{
    min-height: 738px;
    background-color: #11749e;
    padding: 100px 0px 128px 0px;
    position: relative;
}

.bigLetter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto';
    font-size: 248px;
    line-height: 180px;
    font-weight: 700;

}

.awesome__W{
    top: 100px;
    color: rgba(255, 255, 255, 0.18);
}

.title{
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.awesome__title{
    line-height: 38px;
    margin-top: 72px;
}

.awesome__row{
    margin: 0 -20px;
    margin-top: 144px;
    display: flex;
}

.awesome__item{
    flex: 0 1 25%;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all 0.4s;
}

.awesome__item:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(35px);
    
}

.awesome__item_icon{
    width: 133px;
    height: 133px;
    background-color: #2e85aa;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.awesome__item_header{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 23px;
}

.awesome__item_descr{
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 34px;
}

@media(max-width:1000px){
    .awesome__row{
        flex-wrap: wrap;
    }
    .awesome__item{
        flex: 0 1 50%;
    }

}

@media(max-width:767px){
    .awesome__item{
        flex: 0 1 80%;
        margin: 0 auto;
    }
    .awesome{
        padding: 100px 0px 60px 0px;
    }
    .awesome__row{
        margin-top: 80px;
    }

}


.works{
    min-height: 948px;
}

.works__content{
    background-color: #222222;
    color: #ffffff;
}

.works__content_2{
    background-color: #f3f3f3;
}

.works__img {
    min-height: 472px;
}

.works__img_2{
    min-height: 472px;
}

.work__bodi{
    width: 100%;
    padding: 80px 50px
}

.works__item_date{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.works__item_title{
    font-size: 25px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 18px;
}

.works__item_descr{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 43px;
}

@media (min-width: 1100px) {
    .works__row, .works__row_2{
        display: flex;
        overflow: hidden;
    }

    .works__img{
        flex: 0 0 50%;
        transform: translateX(-100%);
        max-width: 100%;
    }
    .work__bodi{
        width: 50%;
        padding-top: 82px;
        padding-right: 118px;
        padding-bottom: 114px;
    }
    .works__img_2{
        flex: 0 0 50%;
    }
    .works__img_2 img{
        max-height: 100%;
    }

    .works__container{
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    
    .works__content{
        flex: 0 0 100%;
    }
    
    .works__content_2{
        flex: 0 0 100%;
    }

    .work__bodi{
        width: 50%;
        padding-top: 82px;
        padding-right: 118px;
        padding-bottom: 114px;
    }
}


.blog{
    min-height: 1000px;
    padding: 92px 0px 102px 0px;
    position: relative;
}

.blog__B{
    color: rgba(34, 34, 34, 0.18);
}

.blog__title{
    color: #222222;
    line-height: 177px;
}

.subtitle{
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    color: #222222;
    text-align: center;
}

.blog__subtitle{
    margin-top: 39px;
}


.blog__item_title{
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #11749e;
    margin-top: 44px;
}

.blog__item_deckr{
    font-size: 15px;
    line-height: 24px
    ;font-weight: 400;
    color: #222222;
    margin-top: 26px;
}

.blog__row{
    display: flex;
    flex-wrap: wrap;
    margin: 76px -15px 0px -15px;
}

.blog__item{
    flex: 0 1 25%;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .blog__row{
        justify-content: space-evenly;
    }
    .blog__item{
        margin-bottom: 80px;
    }
    .blog{
        padding-bottom: 0px;
    }
}

@media (max-width: 970px) {
    .blog__item_title{
        margin-top: 16px;
    }
    .blog__item_deckr{
        margin-top: 14px;
    }
}


.blue{
    min-height: 391px;
    background-color: #11749e;
    padding: 130px 0px;
}

.blue__row{
    display: flex;
    margin: 0px -30px;
}

.blue__item{
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.blue__item_icon img{
    margin-right: 34px;
}

.blue__item_text{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

@media (max-width: 1000px) {
    .blue__row{
        flex-wrap: wrap;
        margin: 0px;
    }
    .blue__item{
        padding-bottom: 30px;
    }
    .blue__item:last-child{
        padding-bottom: 0px;
    }
}

@media (max-width: 400px){
    .blue__item{
    flex-direction: column;
    }
    .blue__item_text{
        margin-top: 20px;
    }
}

.quality{
    min-height: 848px;
    background: url(../img/quality_bg.jpg) center center/cover no-repeat;
}

.quality__wrapper{
    position: relative;
    padding: 228px 0px 240px 0px;
}

.quality__title{
    font-size: 25px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.quality__text{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 41px;
    max-width: 41%;
}

.quality__descr{
    padding-left: 19px;
    height: 38px;
    background-color: #11749e;
    font-size: 15px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 24px;
}

.quality__descr_1{
    margin-top: 68px;
    width: 370px;
}

.quality__descr_2{
    width: 400px;
}

.quality__descr_3{
    width: 428px;
}

.quality__phone{
    position: absolute;
    top: 100px;
    left: 700px;
}

@media (max-width: 767px){
    .quality__wrapper{
        padding-left: 40px;
    }
    .quality__text{
        max-width: none;
    }
}




.team{
    min-height: 947px;
    padding: 70px 0px 50px 0px;
}

.team__row{
    display: flex;
    margin: 69px -15px 0px -15px;
    flex-wrap: wrap;
}

.team__item{
    flex: 0 1 25%;
    padding: 0px 15px;
    position: relative;
}

.team__item_descr{
    width: 216px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.team__item_name{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #11749e;
    text-align: center;
    margin-top: 23px;
}

.team__item_position{
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}


@media (max-width: 1200px) {
    .team__row{
        justify-content: space-evenly;
    }
    .team__item{
        margin-bottom: 80px;
    }
}

.form{
    min-height: 851px;
    background: url(../img/form_bg.jpg) center center/cover no-repeat;
    padding: 144px 0px 100px 0px;
    position: relative;
}

.form__C{
    top: 146px;
    color: rgba(255, 255, 255, 0.18);
}

.form__body{
    margin-top: 150px;
}

.form__block_top{
    display: flex;
    justify-content: space-between;
}

.form__block{
    width: 100%;
}

.forn__input{
    background-color: rgba(128,128,128,0.0);
    border: 1px solid #ffffff;
    width: 370px;
    height: 48px;
    font-size: 15px;
    line-height: 2.4;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    padding: 0px 22px;
}

.form__textarea{
    margin-top: 40px;
    width: 100%;
    height: 150px;
    resize: none;
}

.form__button{
    display: block;
    margin: 46px auto 0px auto;
    width: 227px;
    height: 64px;
    background-color: #11749e;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
}

.form__button:hover{
    background-color: #329fce;
}

@media (max-width: 1200px){
    .forn__input{
        margin-right:  15px;
    }
    .forn__input:last-child{
        margin-right:  0px;
    }
}

@media (max-width: 720px){
    .form__block_top{
        flex-direction: column;
    }
    .forn__input{
        width: 100%;
        margin-top: 20px;
    }
}


.map{
    min-height: 330px;
}

.footer{
    min-height: 136px;
    background-color: #222222;
}

.right{
    font-size: 13px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    padding-top: 56px;
}


@media (max-width:1000px){
    .right{
        padding-top: 40px;
    }
}


