/* @import url("reset.css"); */

/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Підключення віддалених шрифтів */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap"); */

/* Значення за замовченням  */

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: "InterDisplay"; */
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	background-color: #3ab87f60;
	padding:  50px 15px;
	overflow-x: hidden;
}
/* ======================================================== */















.maze-game {
	background: url("../img/maze.avif") center / cover no-repeat;
	max-width: 1230px;
	min-height: 700px;
	margin-bottom: 100px;
}

.maze-game__block {
	visibility: hidden;
	background-color: #28a8f3;
}

.maze-game__block:hover+div,
.maze-game__block:hover {
	visibility: visible;

}

.maze-game__block:first-child,
.maze-game__block:last-child {
	width: 35px;
	height: 35px;
	border-radius: 10px;
	background-color: #f7d762;
	border: 3px solid black;
}

.maze-game__block:nth-child(1) {
	text-align: center;
	visibility: visible;
	margin-left: 60px;
}

.maze-game__block:nth-child(2) {
	width: 35px;
	height: 290px;
	margin-left: 60px;
}

.maze-game__block:nth-child(3) {
	width: 150px;
	height: 35px;
	margin-left: 60px;

}

.maze-game__block:nth-child(4) {
	width: 35px;
	height: 80px;
	margin-left: 175px;
}

.maze-game__block:nth-child(5) {
	width: 150px;
	height: 35px;
	margin-left: 60px;

}

.maze-game__block:nth-child(6) {
	width: 35px;
	height: 80px;
	margin-left: 60px;
}

.maze-game__block:nth-child(7) {
	width: 360px;
	height: 35px;
	margin-left: 60px;
}

.maze-game__block:nth-child(8) {
	width: 35px;
	height: 150px;
	margin-top: -150px;
	margin-left: 400px;

}

.maze-game__block:nth-child(9) {
	width: 120px;
	height: 35px;
	margin-top: -150px;
	margin-left: 400px;

}

.maze-game__block:nth-child(10) {
	width: 35px;
	height: 270px;
	margin-top: -270px;
	margin-left: 510px;

}

.maze-game__block:nth-child(11) {
	width: 100px;
	height: 35px;
	margin-top: -270px;
	margin-left: 420px;

}

.maze-game__block:nth-child(12) {
	width: 35px;
	height: 150px;
	margin-top: -150px;
	margin-left: 420px;

}

.maze-game__block:nth-child(13) {
	width: 700px;
	height: 35px;
	margin-top: -150px;
	margin-left: 450px;

}

.maze-game__block:nth-child(14) {
	width: 35px;
	height: 100px;
	margin-bottom: -100px;
	margin-left: 1115px;
}

.maze-game__block:nth-child(15) {
	width: 150px;
	height: 35px;
	margin-top: 80px;
	margin-left: 1000px;

}

.maze-game__block:nth-child(16) {
	width: 35px;
	height: 200px;
	margin-left: 1000px;

}

.maze-game__block:nth-child(17) {
	width: 150px;
	height: 35px;
	margin-left: 885px;

}

.maze-game__block:nth-child(18) {
	width: 35px;
	height: 80px;
	margin-left: 885px;

}

.maze-game__block:nth-child(19) {
	width: 250px;
	height: 35px;
	margin-left: 885px;

}

.maze-game__block:nth-child(20) {
	margin-left: 1100px;
}

.cards-wrapper {
	text-align: center;
	margin-bottom: 100px;
}

.cards-wrapper__content {
	text-align: center;
}














.game {
	inline-size: 1000px;
	block-size: 900px;
	border: 3px solid #393888;
	margin-inline: auto;
	padding: 10px;
	background: url("../img/background_3.jpg") center/cover no-repeat;
}

.game__title {
	text-align: center;
}

/* .game__block--1, .game__block--3, .game__block--5, .game__block--7, .game__block--11, .game__block--13, .game__block--15 {
	background: url("../img/down-arrow.png") center / contain no-repeat;
} */
.game__block:nth-child(2n+1):not(.game__block--9) {
	background: url("../img/arrow_down.svg") center / contain no-repeat, linear-gradient(45deg, rgba(255, 105, 180, 0.7), rgba(0, 204, 255, 0.7));
}

/* .game__block--6, .game__block--8, .game__block--10, .game__block--14 {
	background: url("../img/left-arrow.png") center / contain no-repeat;
} */
.game__block:nth-child(2n+6):not(.game__block--12, .game__block--16) {
	background: url("../img/arrow_left.svg") center / contain no-repeat, linear-gradient(45deg, rgba(255, 105, 180, 0.7), rgba(0, 204, 255, 0.7));
}

/* .game__block--2, .game__block--4, .game__block--12 {
	background: url("../img/right-arrow.png") center / contain no-repeat;
} */
.game__block:nth-child(2n):not(.game__block--6, .game__block--8, .game__block--10, .game__block--14, .game__block--16) {
	background: url("../img/arrow_right.svg") center / contain no-repeat, linear-gradient(45deg, rgba(255, 105, 180, 0.7), rgba(0, 204, 255, 0.7));
}

.game__block--1 {
	inline-size: 70px;
	block-size: 100px;
}

.game__block--2 {
	margin-inline-start: 70px;
	margin-block-start: -68px;
	inline-size: 700px;
	block-size: 68px;
}

.game__block--3 {
	margin-inline-start: 704px;
	inline-size: 66px;
	block-size: 150px;
}

.game__block--4 {
	margin-block-start: -64px;
	margin-inline-start: 770px;
	inline-size: 200px;
	block-size: 64px;
}

.game__block--5 {
	margin-inline-start: 908px;
	inline-size: 62px;
	block-size: 100px;
}

.game__block--6 {
	margin-block-start: -60px;
	margin-inline-start: 408px;
	inline-size: 500px;
	block-size: 60px;
}

.game__block--7 {
	margin-inline-start: 408px;
	inline-size: 58px;
	block-size: 100px;
}

.game__block--8 {
	margin-inline-start: 166px;
	inline-size: 300px;
	block-size: 56px;
}

.game__block--9 {
	background: url("../img/arrow_up.svg") center / contain no-repeat, linear-gradient(45deg, rgba(255, 105, 180, 0.7), rgba(0, 204, 255, 0.7));
	margin-block-start: -256px;
	margin-inline-start: 166px;
	inline-size: 54px;
	block-size: 200px;
}

.game__block--10 {
	margin-block-start: -200px;
	margin-inline-start: 16px;
	inline-size: 150px;
	block-size: 52px;
}

.game__block--11 {
	margin-inline-start: 16px;
	inline-size: 50px;
	block-size: 250px;
}

.game__block--12 {
	margin-inline-start: 16px;
	inline-size: 700px;
	block-size: 48px;
}

.game__block--13 {
	margin-inline-start: 669px;
	inline-size: 47px;
	block-size: 100px;
}

.game__block--14 {
	margin-inline-start: 466px;
	inline-size: 250px;
	block-size: 44px;
}

.game__block--15 {
	margin-inline-start: 466px;
	inline-size: 42px;
	block-size: 70px;
}

.game__block--16 {
	background: linear-gradient(45deg, rgba(255, 105, 180, 0.75), rgba(0, 204, 255, 0.7));
	color: #8f2359;
	font-weight: 700;
	inline-size: 80px;
	block-size: 80px;
	line-height: 80px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	margin-inline-start: calc(50% - 40px);
	margin-block-start: -10px;
}

.game__block--16:hover {
	background: linear-gradient(45deg, rgba(255, 105, 180, 0.75), rgba(0, 204, 255, 1));
	text-decoration: underline;
}

.game__block:not(:first-child) {
	visibility: hidden;
}

.game__block:hover+.game__block,
.game__block:hover {
	visibility: visible;
}




.maze-game__block:hover+div,
.maze-game__block:hover {
	visibility: visible;

}





[class*="hose-"] {
	background-color: lightblue;
	border: 1px solid gray;
}

[class*="hose-"] {
	visibility: hidden;
}

.game__middle>*:hover+*,
.game__middle>*:hover {
	visibility: visible;
}