/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
	font-family: 'Montserrat', sans-serif;
}

.lock{
	overflow: hidden;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
}

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ibg img {display: none;}


.main-screen{
	background: url(../img/main-bg.jpg) center center/cover no-repeat;
	min-height: 900px;
	position: relative;
	padding-top: 237px;
}

@media(max-width:1800px){
	.main-screen{
		background-size: auto;
		min-height: auto;
	}
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 74px;
	background: rgba(0,0,0,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.21);
}

.header__row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__logo{
	padding: 24px 25px;
	border-left: 1px solid rgba(255,255,255,0.21);
}

.header__menu{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 24px 25px;
	border: 1px solid rgba(255,255,255,0.21);
	border-bottom:none;
	border-top:none;
}

.menu__list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu__link{
	font-size: 13px;
	line-height: 25px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #ffffff;
	margin: auto 18px;
}
.menu__link:hover{
	color: #2bd2ff;
	text-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
}

@media(max-width:950px){
    .header__menu{
		border: none;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color:  rgba(66, 233, 255, 0.9);
		padding: 100px 0px 20px 0px;
		-webkit-transform: translate3d(0px,-100%,0px);
		        transform: translate3d(0px,-100%,0px);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		z-index: 5;
		overflow: auto;
	}
	.menu__body.active{
		-webkit-transform: translate3d(0px,0px,0px);
		        transform: translate3d(0px,0px,0px);
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}


	.menu__list{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.menu__list li{
		padding: 0px 0px 45px 0px;
	}
	.menu__list li:nth-child(2){
		padding: 0px 0px 45px 0px;
	}
	.menu__list li:nth-child(3){
		padding: 0px 0px 45px 0px;
	}

	.menu__list li:last-child{
		padding: 0;
	}

	.menu__link{
		color: #fff;
		font-size: 26px;
	}

	.menu__list li:after{
		width: 4px;
		height: 4px;
		background-color: #fff;
		border-radius: 50%;
		right: 50%;
		top: 40px;
		margin: 0px -2px 0px 0px;
	}
	.menu__list li:nth-child(2):after{
		display: block;
	}
	.menu__link:hover{
		color: #0363d1;
		text-shadow: 0 0 5px #2bd2ff,
		0 0 15px #2bd2ff,
		0 0 30px #2bd2ff,
		0 0 60px #2bd2ff;
	}
    .header__btn{
        margin-right: 40px;
    }

}

@media (max-width:950px){
	.header__logo{
		margin-left: 75px;
	}

	
	.icon-menu{
		display: block;
		position: absolute;
		top: 28px;
		left: 25px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 7;
	}
	.icon-menu span{
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}

	.menu__icon:hover span{
		color: #2bd2ff;
	}

	.icon-menu span:first-child{
		top: 0;
	}
	.icon-menu span:last-child{
		top: auto;
		bottom: 0px;
	}

	.icon-menu.active span{
		scale: (0);
		background-color:#fff;
	}

	.icon-menu.active span:first-child {
		top: 8px;
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);

	}
	.icon-menu.active span:last-child{
		bottom: 8px;
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.icon-menu.active span:nth-child(2){
	display: none;
	}

}


.social__list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.social__link{
	width: 75px;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.social__link:hover{
	background:#2bd2ff;
	-webkit-box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	        box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
}

@media(max-width:1200px){
	.social__body{
		display: none;
	}
}

.cart{
	width: 75px;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid rgba(255,255,255,0.21);
	border-bottom:none;
}
.cart:hover{
	background:#2bd2ff;
	-webkit-box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	        box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
}

.search{
	width: 75px;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.search:hover{
	background:#2bd2ff;
	-webkit-box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	        box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
}

.main__body{
	max-width: 600px;
	margin-left: 20px;
	padding-bottom: 70px;
}

.main__title{
	font-family: "Poppins";
	font-size: 204px;
	line-height: 147px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.075em;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 5px 9px rgba(0,0,0,0.6);
}
@media(max-width:1200px){
	.main__title{
		font-size: 140px;
		line-height: 100px;
	}
	.main__body{
		max-width: 400px;
		margin-left: 30px;
	}
}

@media(max-width:450px){
	.main__title{
		font-size: 100px;
		line-height: 70px;
	}
	.main__body{
		margin-left: 20px;
	}
}

@media(max-width:350px){
	.main__title{
		font-size: 80px;
		line-height: 60px;
	}
	.main__body{
		margin-left: 20px;
	}
}

.main__subtitle{
	font-size: 20.7px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.4em;
	color: #ffffff;
	margin-top: 34px;
	text-align: center;
	text-shadow: 0 5px 9px rgba(0,0,0,0.6);
}

.btn{
	position: relative;
	width: 155px;
	height: 50px;
	margin: 20px;
}

.btn a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: rgba(252, 252, 252, 0.05);
	-webkit-box-shadow: rgba(252, 252, 252, 0.1);
	        box-shadow: rgba(252, 252, 252, 0.1);
	border-bottom: 1px solid rgba(252, 252, 252, 0.1);
	border-radius: 30px;
	color: #fff;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-backdrop-filter:blur(15px);
	        backdrop-filter:blur(15px);
}

.btn:hover a{
	letter-spacing: 3px;
}

.btn a::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,0.15)),to(transparent));
	background: -o-linear-gradient(right, rgba(255,255,255,0.15),transparent);
	background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
	-webkit-transform: skewX(45deg) translateX(0);
	    -ms-transform: skewX(45deg) translateX(0);
	        transform: skewX(45deg) translateX(0);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
} 

.btn:hover a::before{
	-webkit-transform: skewX(45deg) translateX(200%);
	    -ms-transform: skewX(45deg) translateX(200%);
	        transform: skewX(45deg) translateX(200%);
}

.btn::before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #ff0000;
	border-radius: 10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
} 

.btn:hover::before{
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
} 

.btn::after{
	content: "";
	position: absolute;
	left: 50%;
	top: -5px;
	width: 30px;
	height: 10px;
	background: #ff0000;
	border-radius: 10px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
} 

.btn:hover::after{
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
} 

.btn::before,.btn::after{
	background:#2bd2ff;
	-webkit-box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	        box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
}


@-moz-document url-prefix() {
	.btn a{
		background: rgba(0, 0, 0, 0.3);
	}
	.offer__btn a{
		background: rgba(223, 223, 223, 0.63);
	}
	.btn:hover::before{
		width: 100%;
		border-radius: 0px 0px 30px 30px;
		-webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
		-webkit-border-radius: 0px 0px 30px 30px;
		-moz-border-radius: 0px 0px 30px 30px;
		-ms-border-radius: 0px 0px 30px 30px;
		-o-border-radius: 0px 0px 30px 30px;
	} 
	.btn:hover::after{
		width: 100%;
		border-radius: 30px 30px 0px 0px;
		-webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
		-webkit-border-radius: 30px 30px 0px 0px;
		-moz-border-radius: 30px 30px 0px 0px;
		-ms-border-radius: 30px 30px 0px 0px;
		-o-border-radius: 30px 30px 0px 0px;
	} 
}

.main__btn{
	width: 159px;
	height: 48px;
	/* background-color: #3954d9; */
	border-radius: 21.5px;
	font-size: 17.3px;
	line-height: 48px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
	text-align: center;
	margin: 60px auto;
}


/* shipping */

.shipping{
	margin-top: -75px;
	
	position: relative;
}

.shipping__row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.shipping__column{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 25%;
	        flex: 1 1 25%;
	padding: 75px 70px 63px;
	text-align: center;
	border: 1px solid#f2f0f0;
	background-color: #fff;
}
@media(max-width:1120px){
	.shipping__column{
		padding: 30px;
	}
}
@media(max-width:800px){
	.shipping__column{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
	}
}
@media(max-width:400px){
	.shipping__column{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}

.shipping__img{
	width: 50px;
	height: 50px;
	margin: auto auto;
}

.shipping__title{
	font-family: 'Bebas Neue';
	font-size: 33px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	color: #0d2e57;
	margin-top: 42px;
}

.shipping__text{
	font-size: 13px;
	line-height: 24px;
	font-weight: 300;
	color: #8a8a8a;
	margin-top: 24px;
}

.shipping__click{
	font-size: 13px;
	line-height: 25px;
	font-weight: 600;
	color: #2bd2ff;
	margin-top: 24px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.shipping__click:hover{
	color: #2bd2ff;
	text-shadow: 0 0 5px #2bd1ff9c;
	letter-spacing: 2px;	
}

/* offer */

.offer{
	min-height: 751px;
}

.offer__row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media(max-width:560px){
	.offer__row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.offer__column{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	min-height: 751px;
	background-color: #f2f0f0;
	text-align: center;
}
.offer__column:first-child{
	padding: 122px 137px 78px 127px;
}

@media(max-width:900px){
	.offer__column:first-child{
		padding: 80px 40px;
	}
}

.offer__label {
	font-family: "Poppins";
	font-size: 20.5px;
	line-height: 25px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #616161;
}

.offer__tatle {
	font-family: "Bebas Neue";
	font-size: 43px;
	line-height: 44px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0d2e57;
	margin-top: 35px;
}

.offer__sabtatle {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	color: #8a8a8a;
	margin-top: 50px;
}

.offer__price {
	font-size: 52px;
	line-height: 62px;
	font-weight: 700;
	color: #3954d9;
	margin-top: 43px;
	padding: 0 25px;
}

.offer__price span{
	font-size: 32.7px;
	line-height: 58px;
	font-weight: 500;
	color: #121212;
	text-decoration: line-through;
}

.offer__timer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.offer__timer_item {
	margin: 55px 5px 0px;
	width: 91px;
	height: 105px;
	background-color: #ffffff;
	border-radius: 20px;
}

.offer__timer_value {
	font-size: 38.3px;
	line-height: 31px;
	font-weight: 600;
	text-transform: uppercase;
	color: #2d2b27;
	margin-top: 25px;
}

.offer__timer_descr {
	font-size: 11.1px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #2d2b27;
	
}

.offer__timer_descr span{
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #121212;
}

.offer__btn {
	width: 125px;
	height: 43px;
	border-radius: 21.5px;
	font-size: 13px;
	line-height: 43px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
	margin: 43px auto 0;
	background: rgba(0, 0, 0, 0.15);
}

.offer__column_bg {
	background: url(../img/offer_bg.jpg) center center/cover no-repeat;
}

/* product */



.product__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.product__item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 25%;
	        flex: 1 1 25%;
	height: 373px;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
}
.product__item:hover,.banner__item_product:hover {
	-webkit-box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	        box-shadow: 0 0 5px #2bd2ff,
	0 0 15px #2bd2ff,
	0 0 30px #2bd2ff,
	0 0 60px #2bd2ff;
	z-index: 5;
}
@media(max-width:900px){
	.product__item {
		height: 330px;
	}
}
@media(max-width:760px){
	.product__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		height: 373px;
	}
}
@media(max-width:500px){
	.product__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}

.product__img img{
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	max-width: 100%;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.product__item:hover .product__img img, .banner__item:hover .product__img img{
	top: 33%;
}

.product__content{
	position: absolute;
	bottom: 48px;
	left: 10%;

}

.product__tilte {
	font-family: "Bebas Neue";
	font-size: 25px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0d2e57;
}

.product__price {
	font-size: 13px;
	line-height: 25px;
	font-weight: 600;
	color: #3753da;
}

.product__price span{
	font-size: 12px;
	color: #818181;
	margin-top: 14px;
}

.click_here {
	font-size: 13px;
	line-height: 25px;
	font-weight: 600;
	text-transform: uppercase;
	color: #2bd2ff;
	margin: 35px auto;
	text-align: center;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.click_here a{
	color: #2bd2ff;
}

.click_here:hover{
	color: #2bd2ff;
	text-shadow: 0 0 5px #2bd1ff9c;
	letter-spacing: 2px;
}


/* banner */

.banner {
	min-height: 373px;
}

.banner__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.banner__item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 25%;
	        flex: 1 1 25%;
	position: relative;
}
@media(max-width:860px){
	.banner__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
	}
}
@media(max-width:600px){
	.banner__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
	.banner__item_product{
		min-height: 373px;
	}
}

.banner__item:first-child {
	background-color: #232323;
}

.banner__item_big{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
}

.banner__content{
	padding: 70px 50px 55px;
}

.banner__tilte {
	font-family: 'Bebas Neue';
	font-size: 59.7px;
	line-height: 61px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	color: #ffffff;
}

.banner__subtilte {
	font-size: 14px;
	line-height: 20px
	;font-weight: 400;
	letter-spacing: 0.4em;
	color: #ffffff;
	margin-top: 29px;
}

.banner__btn {
	width: 125px;
	height: 43px;
	border-radius: 21.5px;
	font-size: 13px;
	line-height: 43px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #ffffff;
	margin-top: 43px;
	text-align: center;
}

.banner__item_big{
	background: url(../img/banner_img.jpg) center center/cover no-repeat;
}

.banner__item_big .banner__tilte{
	font-family: 'Poppins';
	font-size: 59.7px;
	line-height: 61px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	color: #ffffff;
}


/* feature */

.feature__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.feature__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
	position: relative;
	overflow: hidden;
	background-color: #2bd2ff;;
}

.feature__column span {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
}
.feature__column:hover span {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}

.feature__column::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	        transform: scaleY(0);
}
.feature__column:hover::after {
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
}

.feature__img {
	padding-bottom: 96%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 3.5s;
	-o-transition: all 3.5s;
	transition: all 3.5s;
}

.feature__column:hover .feature__img{
	opacity: .7;
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

.feature__content {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	padding: 20px;
}

.feature__content_title {
	font-family: 'Bebas Neue';
	font-size: 40px;
	line-height: 61px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	color: #fff;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	        transform: translateY(-50px);
	opacity: 0;
	visibility: hidden;
}

.feature__content_descr {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #fff;
	-webkit-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	        transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;
}
@media(max-width:1000px){
	.feature__content_descr {
		font-size: 12px;
		line-height: 16px;
	}
}
@media(max-width:900px){
	.feature__content_descr {
		font-size: 14px;
		line-height: 30px;
	}
	.feature__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
	}
}
@media(max-width:540px){
	.feature__content_descr {
		font-size: 12px;
		line-height: 16px;
	}
}
@media(max-width:440px){
	.feature__content_descr {
		font-size: 14px;
		line-height: 30px;
	}
	.feature__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}

.feature__column:hover .feature__content_title {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}

.feature__column:hover .feature__content_descr {
	
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}

/* brands */

.brands {
	z-index: 2;
	position: relative;
}

.brands__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.brands__column {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 16.66%;
	        flex: 1 1 16.66%;
	padding-bottom: 15%;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	background:#fff;
}
@media(max-width:500px){
	.brands__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 25%;
		        flex: 1 1 25%;
		padding-bottom: 25%;
	}
}
@media(max-width:400px){
	.brands__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		padding-bottom: 50%;
	}
}

.brands__column img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	max-width: 100%;
	padding: 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.brands__column:hover img{
	opacity: 0.9;
	color:  #2bd2ff;;
	-webkit-filter: drop-shadow(3px 6px 17px rgba(21, 255, 243, 0.966));;
	        filter: drop-shadow(3px 6px 17px rgba(21, 255, 243, 0.966));
	-webkit-transform: translate(-50%,-55%);
	    -ms-transform: translate(-50%,-55%);
	        transform: translate(-50%,-55%);
}

/* footer */

.footer{
	position: relative;
	z-index: 1;
	margin-top: -90px;
	background: url(../img/footer_bg.jpg) center center/cover no-repeat;
	padding-top: 190px;
}

.footer .container{
	padding: 0px 40px;
}

.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 30%;
	        flex: 0 1 30%;
}

.footer__column_big{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 70%;
	        flex: 1 1 70%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__column_big .footer__menu_list{
	margin-top: 20px;
}

.footer__column_smol{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__column_smol .footer__menu_link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer__item_title {
	font-family: 'Poppins';
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #3753da;
}

.footer__column_smol .footer__menu_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.footer__column_smol .footer__menu_list li{
	width: 43px;
	height: 43px;
	background-color: #ffffff;
	border-radius:50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 26px;
	margin-right: 27px;
}

.footer__column_smol .footer__menu_list li:last-child{
	margin-right: 0px;
}

.footer__menu_link {
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	line-height: 30px;
}

.footer__input{
	width: 100%;
	height: 39px;
	background-color: #2f2f2f;
	border-radius: 19.5px;
	margin-top: 14px;
}

.footer__btn {
	width: 141px;
	height: 39px;
	border-radius: 19.5px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
	margin-top: 42px;
}

.footer__right{
	opacity: 0.32;
	font-family: 'Poppins';
	font-size: 15.2px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #ffffff;
}

.footer__row_bt{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid rgba(255,255,255,0.21);
	padding: 50px 0px;
	margin-top: 50px;
}

@media(min-width:1200px){
	.footer__column_big .footer__item:last-child{
		margin-right: 30px;
	}
	.footer__column_big .footer__menu_list{
		margin-top: 50px;
	}
}

@media (min-width: 760px) and (max-width:1200px){
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer__column_smol{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin-top: 40px;
	}
}

@media(max-width:760px){
	.footer{
		padding-top: 150px;
	}
	.footer__column_big{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.footer__item{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		margin-top: 30px;
	}
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media(max-width:666px){
	.footer__card{
		margin-top: 20px;
	}
}